<h2>All Orders</h2>
<table class="table">
  <th> Order Number </th>
  <th>Order Date</th>
  <th>Name</th>
  <th>Dilivery address </th>
  <th>Order Items</th>
  <th>Order Total </th>

  <% @orders.each do |order| %>
     <tr class="tr">
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime("%d/%m/%y") %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td>
          <ul>
            <% order.cart_items.each do |dish| %>
               <li><%= dish.quantity %> x <%= dish.dish.name %>  <%= dish.quantity *  dish.dish.price %> ₹</li>

            <% end %>
          </ul>
        </td>
        <td><%= order.total %>₹</td>
    </tr>
  <% end%>
</table>
<br>
<%= link_to "Back To Home Page", homepage_home_path %>
