<h1> new of favourite dish</h1>
<% if @favourite_dish.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@favourite_dish.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @favourite_dish.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%
=begin%>
 <%= form_for @favourite_dish  do |form| %>
<p>
    <%= form.label :review %><br>
  <%=  form.text_field :review %>
  </p>
  <p>
    <%= form.label :Rating %><br>
   <%= form.number_field :rating %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%
=end%>
