<h1>new of review</h1>
<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @review  do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :dish_id, value: @dish.id %>

  <p>
   <%= form.label :review %><br>
   <%=  form.text_field :review %>
  </p>
  <p>
   <%= form.label :Rating %><br>
   <%= form.number_field :rating, {min: 0, max: 5} %>
  </p>
  <p>
   <%= form.submit %>
  </p>
<% end %>
<br>
<%= link_to "Back To Home Page", homepage_home_path %>
